.{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #0f0f0f;
    color: white;
}

/* HEADER ---------------------- */
header {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ff3c3c;
    font-size: 28px;
    font-weight: 700;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

nav a.active,
nav a:hover {
    color: #ff3c3c;
}


/* HERO SECTION ---------------------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.left img {
    width: 420px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 40px #ff3c3c55;
}

/* Right section text */
.right {
    max-width: 500px;
}

.right h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.right h1 span {
    color: #ff3c3c;
}

.right h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.highlight {
    color: #ff3c3c;
    font-weight: 600;
}

.right p {
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* Social Icons */
.social-icons i {
    font-size: 22px;
    margin-right: 15px;
    padding: 10px;
    border: 2px solid #ff3c3c;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.social-icons i:hover {
    background: #ff3c3c;
    transform: scale(1.1);
}

/* Button */
.btn {
    background: transparent;
    border: 2px solid #ff3c3c;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 25px;
    color: #ff3c3c;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #ff3c3c;
    color: white;
}